<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">

  <ng-container *ngSwitchCase="DataState.LOADING">
    <h1> .... Loading ...</h1>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR">
    <span style="color: red;">{{ appState.error }}</span>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.LOADED">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>IP Adress</th>
          <th>Name</th>
          <th>Memory</th>
          <th>Type</th>
          <th>Status</th>
          <th>Ping</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let server of appState.appData?.data?.servers">
        <tr>
          <td> <img src="" width="40" height="40"> </td>
          <td>{{ server.ipAdress }}</td>
          <td>{{ server.name }}</td>
          <td>{{ server.memory }}</td>
          <td>{{ server.type }}</td>
          <td>{{ server.status }}</td>

        </tr>
      </tbody>
    </table>
  </ng-container>


</ng-container>
